body {
    display: flex;
    background-color: beige;
}

#account-manage {
    margin: auto;
}

#mailMessage {
    display: block;
    margin-bottom: 5%;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: darkslategray;
}

#username, #password, #rpassword, #email, #insertedCode {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2%;
}

#logo {
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#amBtn {
    padding: 10px;
    margin-top: 5%;
}

#ajaxloader {
    display: none;
    width: 30px;
    margin-left: 2.5%;
    position: relative;
    top: 10px;
    margin-right: 2.5%;
}

#account-manage a {
    color: darkcyan;
    display: block;
    margin-top: 0.5%;
    font-variant-caps: all-petite-caps;
}

.discoverTitle {
    font-weight: bold;
}

.discoverDiskutos {

}