.categories {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid 1px grey;
    margin-right: 15px;
    padding: 0% 1% 1% 1%;
    margin-top: 0%;
    border-bottom: 0px;
}

.categories:last-of-type {
    border: solid 1px grey;
}

.categories:hover {
    background: wheat;
}

.categoryName {
    margin-top: 0.5%;
    font-size: large;
    font-variant: all-petite-caps;
    text-decoration: none;
    color: darkcyan;
    display: block;
    width: 25%;
}

.categoryName:hover {
    color: cornflowerblue;
}

.categoryValue {
    display: block;
    width: 75%;
    font-size: 9px;
    color: grey;
}

.categoryValue a {
    text-decoration: none;
    color: grey;
}

.categoryValueTitle {
    display: block;
    color: black!important;
    text-decoration: none;
    font-size: 12px;
}
.categoryValue a:hover {
    text-decoration: underline;
}

.posts {
    display: block;
    margin-top: 5%;
}