* {
    font-family: Tahoma;
}

body {
    margin: 1%;
}

div {
    margin-top: 1%;
}

.element {
    margin: 2.5% 0% 5% 2.5%;
    float: left;
    width: 65%;
}

.search {
    border: 1px solid;
    height: 45px;
    padding-left: 1%;
    align-self: center;
    width: 50%;
}

.button {
    background: linear-gradient(to bottom,#A7DEFF,#91D5FF);
    border: solid #D1D1D1;
    border-width: 1px 1px 2px;
    border-color: #61AFE0;
    color: #2B4758;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    height: 50%;
    align-self: center;
    text-decoration: none;
}

.errorText {
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-left: 0.5%;
}

.no-results{
    display: block;
    font-size: 13px;
    margin-top: 1%;
    color: grey;
}

.ajaxloader-centered {
    width: 5%;
    margin: auto;
    display: none;
}

.searchLabel {
    display: block;
    margin-top: 2.5%;
    border-bottom: ridge;
    font-variant: all-petite-caps;
    color: grey;
}

.diskutoTitle {
    color: darkcyan;
    text-decoration: none;
    font-size: 17px;
}

.postDescription {
    display: block;
    font-size: 12px;
    color: darkslategray;
}

.postDescription > a {
    text-decoration: none;
    color: darkslategray;
}

.commentText {
    font-size: 13px;
}