* {
    font-family: Arial;
}

body {
    margin: 1%;
}

div {
    margin-top: 1%;
}

.ajaxloader {
    width: 2.5%;
    margin: 1% auto;
    display: none;
}

.element {
    margin: 2.5% 0% 5% 2.5%;
    float: left;
    width: 65%;
    min-height: 500px;
}

.element > input, .posts > input, .actions > input {
    font-size: 10px;
    padding: 5px;
    height: auto;
    display: block;
}

.element-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2.5%;
}

.element-title input {
    font-size: 10px;
    padding: 5px;
    height: auto;
    margin-right: 15px;
}

.search {
    border: 1px solid;
    height: 45px;
    padding-left: 1%;
    align-self: center;
    width: 50%;
}

.button {
    background: linear-gradient(to bottom,#A7DEFF,#91D5FF);
    border: solid #D1D1D1;
    border-width: 1px 1px 2px;
    border-color: #61AFE0;
    color: #2B4758;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    height: 50%;
    align-self: center;
    text-decoration: none;
}

.errorText {
    display: block;
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin-top: 1%;
}

.no-results{
    display: block;
    font-size: 13px;
    margin-top: 1%;
    color: grey;
}

.searchLabel {
    display: block;
    margin-top: 2.5%;
    border-bottom: ridge;
    font-variant: all-petite-caps;
    color: grey;
}

.diskutoTitle {
    color: darkcyan;
    text-decoration: none;
    font-size: 17px;
}

.diskutoDescription {
    display: block;
    font-size: 13px;
    width: 50%;
}

.diskutoSubscribers {
    font-size: 11px;
}

.postImg {
    width: 100px;
    margin-right: 10px;
}

.postDescription {
    display: block;
    font-size: 12px;
    color: darkslategray;
}

.postDescription > a {
    text-decoration: none;
    color: darkslategray;
}

.postDescription > a:hover {
    text-decoration: underline;
}

.commentText {
    font-size: 13px;
}

.thing {
    display: flex;
    margin-bottom: 1%;
    padding: 1%;
    border: 1px solid #CCC;
    border-radius: 7px;
}

.thing:nth-of-type(odd) {
    background: #fafafa;
}

.thing a:hover {
    text-decoration: underline;
}

.lock {
    width: 20px;
    margin-left: 5px;
}

.actions {
    display: flex;
    margin-top: 1%;
    margin-bottom: 2.5%;
}

#welcome li:first-of-type {
    margin-top: 5%;
}

#welcome li {
    margin-top: 2.5%;
}

#welcome a {
    color: cornflowerblue;
    text-decoration: none;
}

#welcome a:hover {
    text-decoration: underline;
}