#header {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
}

#home {
    text-align: center;
}

#logo {
    width: 66%;
}

#rightElements {
    align-self: center;
    margin-left: auto;
}

#login {
    background: white;
}

#logOut {
    color: red;
    display: block;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2.5%;
}

#user {
    font-weight: bold;
    text-decoration: none;
    color: darkcyan;
}