#header {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
}

#logo {
    width: 66%;
}

#rightElements {
    align-self: center;
    margin-left: auto;
}

#login {
    background: white;
}

#logOut {
    color: red;
    display: block;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}