.profileDescription {
    font-size: 14px;
    display: block;
    margin-bottom: 2.5%;
    font-variant: all-petite-caps;
    color: grey;
}

.profileData {
    font-weight: bold;
    font-size: 19px;
    display: block;
    margin-bottom: 1%;
    color: darkcyan;
}