#title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 2.5%;
}

.no-results{
    display: block;
    font-size: 13px;
    margin-top: 1%;
    color: grey;
}

.searchResults {
    margin-top: 1%;
}

.searchTitle {
    color: darkcyan;
    text-decoration: none;
    font-size: 17px;
}

.diskutoDescription {
    display: block;
    font-size: 13px;
    width: 50%;
}

.diskutoSubscribers {
    font-size: 11px;
}

.searchResults > input {
    font-size: 10px;
    padding: 2px;
    margin: 0% 0.5% 0% 1%;
}

.postDescription {
    display: block;
    font-size: 12px;
    color: darkslategray;
}

.postDescription > a {
    text-decoration: none;
    color: darkslategray;
}

#postTitle {
    display: block;
    margin-top: 2.5%;
    border-bottom: ridge;
    font-variant: all-petite-caps;
    color: grey;
}