#title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 2.5%;
}

div > input {
    font-size: 10px!important;
    padding: 2px!important;
    margin: 0% 0.5% 0% 1%!important;
}

.diskutoDescription {
    display: block;
    font-size: 13px;
    width: 50%;
}

.diskutoSubscribers {
    font-size: 11px;
}